.qodef-blog-holder article {
  padding-bottom: 11px;
  margin-bottom: 11px;
  /* Audio bar style start */
  /* Audio bar style end */
}

.qodef-blog-holder article .qodef-post-image {
  margin-bottom: 22px;
}

.qodef-blog-holder article .qodef-post-image img {
  vertical-align: middle;
}

.qodef-blog-holder article .qodef-post-excerpt {
  margin: 0 0 26px;
}

.qodef-blog-holder article.sticky .qodef-post-title a {
  color: #00d3f3;
}

.qodef-blog-holder article .qodef-post-info {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  color: #aab3bc;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top a {
  color: #aab3bc;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top a:hover {
  color: #00d3f3;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top {
  margin-bottom: 13px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top > div {
  display: inline-block;
  position: relative;
  padding-right: 17px;
  margin-left: 3px;
  text-transform: capitalize;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top > div:after {
  content: "|";
  position: absolute;
  right: 5px;
  top: -1px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top > div:first-child {
  margin-left: 0;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top > div:last-child:after {
  content: "";
}

.qodef-blog-holder article .qodef-post-info.qodef-section-top div span {
  color: #aab3bc;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right {
  display: inline-block;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right > div {
  margin-left: 17px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right > div:first-child {
  margin-left: 0;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author {
  display: inline-block;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author a {
  text-transform: capitalize;
  color: #444;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-author a:hover {
  color: #00d3f3;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right {
  float: right;
  padding-top: 10px;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like {
  display: inline-block;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder a,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like a {
  display: inline-block;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder a span,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder a i,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like a span,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like a i {
  vertical-align: middle;
  color: #444;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like i:first-child,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like span:first-child {
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  margin-right: 7px;
  color: #c4c3c3;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like:hover i:first-child,
.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-blog-like:hover span:first-child {
  color: #00d3f3;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder span:first-child {
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  margin-right: 7px;
  color: #c4c3c3;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom .qodef-post-info-comments-holder:hover span:first-child {
  color: #00d3f3;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom.qodef-no-info-share .qodef-post-info-author {
  position: initial;
  margin-left: 0;
}

.qodef-blog-holder article .qodef-post-info.qodef-section-bottom.qodef-no-info-left .qodef-section-bottom-right {
  width: 100%;
}

.qodef-blog-holder article.format-quote .qodef-post-text-inner, .qodef-blog-holder article.format-link .qodef-post-text-inner {
  padding: 45px 48px;
  border: 1px solid #e6e9ee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.qodef-blog-holder article.format-quote .qodef-post-text-inner::after, .qodef-blog-holder article.format-link .qodef-post-text-inner::after {
  content: "\7b";
  position: absolute;
  font-family: 'ElegantIcons', sans-serif;
  top: 23px;
  left: -70px;
  font-size: 289px;
  color: #f6f7f9;
}

.qodef-blog-holder article.format-quote .qodef-post-text-inner .qodef-post-mark, .qodef-blog-holder article.format-link .qodef-post-text-inner .qodef-post-mark {
  display: none;
}

.qodef-blog-holder article.format-quote .qodef-post-title, .qodef-blog-holder article.format-link .qodef-post-title {
  margin-bottom: 13px;
  font-size: 24px;
  text-transform: none;
}

.qodef-blog-holder article.format-quote .qodef-post-author, .qodef-blog-holder article.format-link .qodef-post-author {
  font-size: 13px;
  font-weight: 500;
  color: #24262a;
  display: inline-block;
  line-height: 20px;
  text-transform: capitalize;
}

.qodef-blog-holder article.format-quote .qodef-post-text-main, .qodef-blog-holder article.format-link .qodef-post-text-main {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: left;
  z-index: 1;
}

.qodef-blog-holder article.format-quote .qodef-post-info, .qodef-blog-holder article.format-link .qodef-post-info {
  margin-bottom: 5px;
}

.qodef-blog-holder article.format-quote .qodef-post-info a, .qodef-blog-holder article.format-link .qodef-post-info a {
  color: #aab3bc;
}

.qodef-blog-holder article.format-quote .qodef-post-info a:hover, .qodef-blog-holder article.format-link .qodef-post-info a:hover {
  color: #00d3f3;
}

.qodef-blog-holder article.format-quote .qodef-post-info > div, .qodef-blog-holder article.format-link .qodef-post-info > div {
  display: inline-block;
  position: relative;
  padding-right: 17px;
  margin-left: 3px;
  text-transform: capitalize;
}

.qodef-blog-holder article.format-quote .qodef-post-info > div:after, .qodef-blog-holder article.format-link .qodef-post-info > div:after {
  content: "|";
  position: absolute;
  right: 5px;
  top: -1px;
}

.qodef-blog-holder article.format-quote .qodef-post-info > div:first-child, .qodef-blog-holder article.format-link .qodef-post-info > div:first-child {
  margin-left: 0;
}

.qodef-blog-holder article.format-quote .qodef-post-info > div:last-child:after, .qodef-blog-holder article.format-link .qodef-post-info > div:last-child:after {
  content: "";
}

.qodef-blog-holder article.format-quote .qodef-post-info div span, .qodef-blog-holder article.format-link .qodef-post-info div span {
  color: #aab3bc;
}

.qodef-blog-holder article.format-link .qodef-post-text-inner::after {
  content: "\e02c";
  top: 27px;
  left: -44px;
  font-size: 185px;
}

.qodef-blog-holder article.format-audio .qodef-post-image {
  margin-bottom: 0;
}

.qodef-blog-holder article.format-audio .qodef-blog-audio-holder {
  margin-bottom: 22px;
}

.qodef-blog-holder article .qodef-single-links-pages {
  margin: 20px 0;
  text-align: center;
}

.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > a,
.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  color: #444;
  margin: 0 10px;
}

.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > a:after,
.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > span:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid transparent;
  display: inline-block;
  width: 100%;
  left: 0;
  bottom: -4px;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
}

.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > span,
.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > a:hover {
  color: #bdbdbd;
}

.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > span:after,
.qodef-blog-holder article .qodef-single-links-pages .qodef-single-links-pages-inner > a:hover:after {
  border-color: #bdbdbd;
}

.qodef-blog-holder article.format-audio .mejs-container.mejs-audio {
  height: 62px !important;
  /* important is because default mejs script inlines height of element */
  background: #e6e9ee;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.qodef-blog-holder article.format-audio .mejs-container .mejs-controls {
  box-sizing: border-box;
  height: 62px;
  background: transparent;
  padding: 0 13px;
}

.qodef-blog-holder article.format-audio .mejs-container .mejs-controls .mejs-button {
  display: table;
  height: 62px;
  padding-right: 7px;
  width: 36px;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-button button {
  background-repeat: no-repeat;
  background-position: center;
  display: table-cell;
  height: 62px;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  text-align: center;
  position: inherit;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-button button:focus {
  outline: none;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-play button {
  background: 0 0;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-play button::after {
  content: "\f215";
  font-family: 'Ionicons', sans-serif;
  display: inline-block;
  font-size: 18px;
  width: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-pause button {
  background: 0 0;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-pause button::after {
  content: "\f210";
  font-family: 'Ionicons', sans-serif;
  display: inline-block;
  font-size: 18px;
  width: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-mute button {
  background: 0 0;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-mute button::after {
  content: "\f3ba";
  font-family: 'Ionicons', sans-serif;
  display: inline-block;
  line-height: 30px;
  font-size: 24px;
  color: #24262a;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-unmute button {
  background: 0 0;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-unmute button::after {
  content: "\f3b9";
  font-family: 'Ionicons', sans-serif;
  display: inline-block;
  line-height: 30px;
  font-size: 24px;
  color: #24262a;
}

.qodef-blog-holder article.format-audio .mejs-container .mejs-controls .mejs-time {
  font-size: 14px;
  color: #aab3bc;
  display: table;
  height: 62px;
  padding: 0 5px 0 0;
}

.qodef-blog-holder article.format-audio .mejs-time .mejs-currenttime,
.qodef-blog-holder article.format-audio .mejs-time .mejs-duration {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  color: #aab3bc;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-time-rail {
  padding: 0 5px 0 0;
  height: 62px;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-time-rail .mejs-time-total {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 5px;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-time-rail .mejs-time-total,
.qodef-blog-holder article.format-audio .mejs-controls .mejs-time-rail .mejs-time-loaded,
.qodef-blog-holder article.format-audio .mejs-controls .mejs-time-rail .mejs-time-total,
.qodef-blog-holder article.format-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
  background-color: #24262a;
  height: 14px;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-time-rail .mejs-time-current,
.qodef-blog-holder article.format-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #fff;
  height: 14px;
}

.qodef-blog-holder article.format-audio .mejs-controls a.mejs-horizontal-volume-slider {
  height: 62px;
}

.qodef-blog-holder article.format-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.qodef-blog-holder article.format-audio .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.qodef-filter-blog-holder {
  text-align: left;
  margin-bottom: 40px;
}

.qodef-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
  color: #646e7a;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
}

.qodef-filter-blog-holder li.qodef-active {
  color: #00d3f3;
}

.qodef-filter-blog-holder li:hover {
  color: #00d3f3;
}

.qodef-blog-holder.qodef-blog-type-standard article .qodef-post-image img {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.qodef-blog-holder.qodef-blog-type-standard article .qodef-post-text .qodef-post-info-author-image {
  display: none;
}

.qodef-blog-holder.qodef-blog-type-standard article:not(.format-quote):not(.format-link) .qodef-post-image {
  margin-bottom: -1px;
}

.qodef-blog-holder.qodef-blog-type-standard article:not(.format-quote):not(.format-link) .qodef-post-text {
  border: 1px solid #e6e9ee;
  padding: 35px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.qodef-blog-holder.qodef-blog-type-standard article.format-audio .qodef-post-image {
  display: none;
}

.qodef-blog-holder.qodef-blog-type-standard article.format-audio .qodef-blog-audio-holder {
  margin-bottom: -1px;
}

.qodef-blog-holder.qodef-blog-type-standard article .qodef-post-info.qodef-section-top {
  margin-top: 2px;
}

.qodef-blog-holder.qodef-blog-type-masonry {
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.qodef-blog-holder.qodef-blog-type-masonry .qodef-blog-masonry-grid-sizer {
  width: 32%;
}

.qodef-blog-holder.qodef-blog-type-masonry .qodef-blog-masonry-grid-gutter {
  width: 2%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-appeared {
  opacity: 1;
}

.qodef-blog-holder.qodef-blog-type-masonry article {
  width: 32%;
  padding: 0;
  margin: 0 0 5px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-text-inner {
  padding: 28px 28px 20px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-image {
  margin: 0;
  position: relative;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-image a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-image a:hover:after {
  background: rgba(0, 0, 0, 0.2);
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-info-category-holder {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #fff;
  padding: 2px 17px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index: 1;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-info-category-holder .qodef-post-info-category a {
  font-size: 13px;
  line-height: 13px;
  color: #24262a;
  font-weight: 500;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-content {
  -webkit-box-shadow: 0 0 10px 5px rgba(86, 86, 86, 0.04);
  -moz-box-shadow: 0 0 10px 5px rgba(86, 86, 86, 0.04);
  box-shadow: 0 0 10px 5px rgba(86, 86, 86, 0.04);
  border: 1px solid #f6f7fb;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-title {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-info.qodef-section-top {
  margin-bottom: 13px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-post-excerpt {
  margin: 0 0 15px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-section-bottom-left {
  display: table;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-section-bottom-left .qodef-post-info-author-image {
  display: table-cell;
  vertical-align: middle;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-section-bottom-left .qodef-post-info-author-image img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin-right: 13px;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-section-bottom-left .qodef-post-info-author {
  display: table-cell;
  vertical-align: middle;
  color: #24262a;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-section-bottom-left .qodef-post-info-author a {
  text-transform: capitalize;
  color: #24262a;
}

.qodef-blog-holder.qodef-blog-type-masonry article .qodef-section-bottom-left .qodef-post-info-author a:hover {
  color: #00d3f3;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-quote .qodef-post-text-inner, .qodef-blog-holder.qodef-blog-type-masonry article.format-link .qodef-post-text-inner {
  border: 1px solid #f6f7fb;
  padding: 38px 42px 47px;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-quote .qodef-post-title, .qodef-blog-holder.qodef-blog-type-masonry article.format-link .qodef-post-title {
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 21px;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-audio .qodef-post-image {
  margin-bottom: 0;
}

.qodef-blog-holder.qodef-blog-type-masonry article.format-audio .qodef-blog-audio-holder {
  margin-bottom: 39px;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-masonry-full-width {
  margin-right: 3%;
  margin-left: 3%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-masonry-full-width article,
.qodef-blog-holder.qodef-blog-type-masonry.qodef-masonry-full-width .qodef-blog-masonry-grid-sizer {
  width: 18.4%;
}

.qodef-blog-holder.qodef-blog-type-masonry.qodef-masonry-full-width .qodef-blog-masonry-grid-gutter {
  width: 2%;
}

.page-template-blog-masonry .qodef-pagination {
  margin-top: 30px;
}

.page-template-blog-masonry-full-width .qodef-filter-blog-holder {
  margin-left: 2.7%;
  margin-right: 2.7%;
}

.page-template-blog-masonry-full-width .qodef-pagination {
  margin: 2% 0;
}

.page-template-blog-masonry-full-width .qodef-pagination .qodef-pagination-prev {
  margin-left: 3%;
}

.page-template-blog-masonry-full-width .qodef-pagination .qodef-pagination-next {
  margin-right: 3%;
}

.qodef-blog-holder.qodef-blog-single {
  /* Related Posts - begin
	========================================================================== */
  /* Related Posts - end
    ========================================================================== */
  /* Blog Single navigation - start
   ========================================================================== */
  /* Blog Single navigation - end
   ========================================================================== */
  /* Author - begin
	========================================================================== */
  /* Author - end
    ========================================================================== */
}

.qodef-blog-holder.qodef-blog-single article {
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-image {
  margin-bottom: 27px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-image img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-text .qodef-post-info-author-image {
  display: none;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left {
  display: inline-block;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left::after {
  display: none;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left .qodef-single-tags-title,
.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left .qodef-tags {
  display: inline-block;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-single-tags-holder {
  padding-bottom: 15px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-right,
.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-section-bottom-left {
  padding: 0;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-tags {
  font-size: 15px;
  font-weight: 300;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-tags a {
  position: relative;
  color: #777;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-tags a:hover {
  color: #b8babf;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom .qodef-tags a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: calc(100% - 1px);
  border-bottom: 1px solid #b8babf;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-bottom {
  margin-top: 43px;
}

.qodef-blog-holder.qodef-blog-single article .qodef-post-info.qodef-section-top {
  margin-bottom: 14px;
}

.qodef-blog-holder.qodef-blog-single article.format-quote .qodef-post-text, .qodef-blog-holder.qodef-blog-single article.format-link .qodef-post-text {
  margin-bottom: 15px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder {
  padding: 15px 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-posts-title {
  margin-bottom: 20px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post {
  width: calc((100% - 45px) / 4);
  margin-right: 15px;
  display: inline-block;
  float: left;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post:nth-child(4n) {
  margin-right: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post img {
  display: block;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post .qodef-related-post-image {
  margin-bottom: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 135px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post .qodef-related-post-title {
  font-size: 16px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top > div {
  display: inline-block;
  position: relative;
  padding-right: 25px;
  margin-left: 7px;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top > div:after {
  content: "/";
  position: absolute;
  right: 5px;
  top: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top > div:first-child {
  margin-left: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top > div:last-child:after {
  content: "";
}

.qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-post-info.qodef-section-top div span {
  color: #444;
}

.qodef-column1 .qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post,
.qodef-column2 .qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post {
  width: calc((100% - 30px) / 3);
}

.qodef-column1 .qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post:nth-child(3n),
.qodef-column2 .qodef-blog-holder.qodef-blog-single .qodef-related-posts-holder .qodef-related-post:nth-child(3n) {
  margin-right: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation {
  position: relative;
  padding: 40px 0;
  border-bottom: 1px solid #dadada;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-navigation-inner {
  position: relative;
  display: block;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev-holder,
.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  width: 50%;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev-holder {
  float: left;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next-holder {
  float: right;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev,
.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  height: 80px;
  width: 129px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev a,
.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next a {
  display: block;
  vertical-align: middle;
  height: 100%;
  text-indent: -9999px;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev-info,
.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next-info {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-prev-info {
  padding-left: 29px;
  text-align: left;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-next-info {
  padding-right: 29px;
  text-align: right;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-nav-title {
  margin: 0;
  font-size: 13px;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-nav-title a {
  display: inline-block;
  color: #444444;
  font-weight: 400;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-nav-title .qodef-blog-navigation-info {
  display: block;
  font-weight: 700;
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  text-transform: uppercase;
}

.qodef-blog-holder.qodef-blog-single .qodef-blog-single-navigation .qodef-blog-single-nav-title .qodef-blog-navigation-info:hover {
  color: #00d3f3;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description {
  padding: 42px 0 40px 0;
  border-bottom: 1px solid #dadada;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-inner {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-image {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  width: 117px;
  padding-right: 33px;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-image img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-text-holder {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  text-align: left;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-text-holder .qodef-author-name {
  margin: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-text-holder .qodef-author-email {
  margin: 0;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-description-text-holder .qodef-author-text p {
  margin: 7px 0 13px;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-social-holder {
  margin-top: 11px;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-social-holder a {
  display: inline-block;
  margin-right: 5px;
}

.qodef-blog-holder.qodef-blog-single .qodef-author-description .qodef-author-social-holder a span {
  font-size: 11px;
  color: #626262;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #c9c9c9;
  border-radius: 50px;
  text-align: center;
  line-height: 24px;
}

/*# sourceMappingURL=blog.css.map */